@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    margin: 0;
    background-color: rgb(32, 27, 23);
    color: rgb(255, 219, 196);
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
}

.calc-container {
    display: flex;
    flex-direction: column;
    width: 660px;
    gap: 10px;
}

.calc-result {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 50px;
    background-color: rgb(63, 48, 37);
    border-radius: 20px;
    height: 100px;
    margin: 10px 0 0 0;
    padding: 0 25px;
}

.calc-result.error {
    color: rgb(230, 113, 113);
justify-content: start;
}

.calc-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    width: 150px;
    height: 100px;
    padding: 0;
    margin: 10px 0px;
    border: none;
    border-radius: 20px;
    background-color: rgb(44, 34, 28);
    color: rgb(255, 219, 196);
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    background-color: rgb(39, 29, 23);
}

button:active {
    background-color: transparent;
}

.clean {
    color: rgb(226, 231, 178);
    background-color: rgb(70, 74, 34);
}

.clean:hover {
    background-color: rgb(65, 69, 29);
}

.clean:active {
    background-color: rgb(60, 64, 24);
}

.sign, .percent, .operator {
    background-color: rgb(91, 66, 47);
}

.sign:hover, .percent:hover, .operator:hover {
    background-color: rgb(86, 61, 42);
}

.sign:active, .percent:active, .operator:active {
    background-color: rgb(81, 56, 37);
}

.equals {
    background-color: rgb(110, 57, 11);
}

.equals:hover {
    background-color: rgb(105, 52, 6);
}

.equals:active {
    background-color: rgb(100, 47, 1);
}

.footer {
    margin: 0;
    margin-left: auto;
    font-size: 20px;
}